.settings
.DS_Store
**/.DS_Store
.classpath
.svn
**/.svn
bin
.sonar
sonar-project.properties
reports/*.jasper
build.properties
gcom/jsp/util/rodape.jsp
documents/recadastramento/layouts/~$Layout_Retorno_Cadastro.xlsx
src/gcom/properties/version.properties
scripts/build/build_gcom_desenv.sh
scripts/build/build_gcom_homolog.sh
scripts/build/build_gcom_prod_online.sh
scripts/build/build_gcom_prod_batch.sh
projects/migrations/environments/development.properties
projects/migrations/environments/stage.properties
projects/migrations/environments/production.properties
projects/migrations/comercial/environments/development.properties
projects/migrations/comercial/environments/stage.properties
projects/migrations/comercial/environments/production.properties

