.settings
.DS_Store
**/.DS_Store
.classpath
.svn
**/.svn
bin
.sonar
sonar-project.properties
reports/*.jasper
build.properties
gcom/jsp/util/rodape.jsp
documents/recadastramento/layouts/~$Layout_Retorno_Cadastro.xlsx
src/gcom/properties/version.properties
