.project
.settings
.DS_Store
**/.DS_Store
.classpath
.svn
**/.svn
bin
.sonar
sonar-project.properties
reports/*.jasper
build.properties
gcom/jsp/util/rodape.jsp
documents/recadastramento/layouts/~$Layout_Retorno_Cadastro.xlsx
scripts/build/build_gcom_desenv.sh
scripts/build/build_gcom_homolog.sh
scripts/build/build_gcom_prod_online.sh
scripts/build/build_gcom_prod_batch.sh
migrations/gerencial/environments/local.properties
migrations/gerencial/environments/development.properties
migrations/gerencial/environments/stage.properties
migrations/gerencial/environments/production.properties
migrations/comercial/environments/development.properties
migrations/comercial/environments/stage.properties
migrations/comercial/environments/production.properties
migrations/comercial/environments/local.properties
src/gcom/properties/version.properties
