@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900|Open+Sans:300,400,600,700');
@import url(bootstrap.min.css);
@import url(jquery-ui.min.css);
@import url(font-awesome-4.7.0/css/font-awesome.min.css);
@import url(normalize.css);

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
}

html, body {
  height: 100%;
  background-color: #004284;
}

body {
	color: #333;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 100px;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -230px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.navbar {
	background-color: #fff;
	padding: 5px;
}

.navbar-nav {
	flex-direction: row;
}

.nav-link {
	padding-left: 40px !important;
	cursor: pointer;
}

.header {
	padding-top: 30px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	background-color: #fff;
}

.header h1 {
	font-size: 35px;
}

.panel-modulo {
	text-align: center;
	cursor: pointer;
	height: 230px;
	background: #EDEFF0;
	border-radius: 10px;
	margin-top: 50px;
}

.panel-modulo a {
	color: #333;
}

.panel-modulo a:link {
	text-decoration: none;
}

.panel-modulo a:visited {
	text-decoration: none;
}

.panel-modulo a:hover {
	color: #004284;
	text-decoration: none;
}

.panel-modulo a:active {
    text-decoration: none;
}

.panel-modulo i {
	display: block;
	margin-bottom: 20px;
	margin-top: 10px;
}

.panel-modulo h3 {
	font-size: 20px;
	font-family: 'Open-sans', sans-serif;
}

.panel-link {
	padding: 50px 20px 20px 20px;
	margin-bottom: 30px;
}

.barra-acesso {
	background-color: #fff;
	border-radius: .25rem;
	height: 50px;
	margin-top: 10px;
}

.barra-acesso .nome {
	padding-left: 20px;
	padding-top: 15px;
}

.barra-acesso .matricula {
	text-align: center;
	padding-top: 15px;
}

.barra-acesso .sair {
	text-align: right;
	padding-right: 20px;
	padding-top: 15px;
}

.barra-acesso .sair a {
	color: #333;
}

.barra-acesso .sair a:hover {
	color: #004284;
}

.barra-acesso p {
	margin-bottom: 0;
	vertical-align: middle;
}

.container-breadcrumb {
	margin-top: 10px;
	padding-right: 0;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
}

.breadcrumb {
	background-color: #fff;
	padding: 20px 5px 8px 5px;
	margin-bottom: 0;
	font-size: 15px;
}

.breadcrumb .breadcrumb-item {
	color: #333;
}

.breadcrumb .breadcrumb-item a {
	color: #004284;
}

.breadcrumb .breadcrumb-item .active {
	color: #004284;
}


.pagina-agua {
	padding: 20px 40px 20px 40px;
	background: url(/gsan/imagens/portal/general/agua-para.png) no-repeat center;
	background-size: 80%;
}

.pagina {
	background-color: #fff;
	border-radius: .25rem;
	margin-bottom: 30px;
}

.pagina-titulo {
	padding-top: 30px;
	padding-bottom: 20px;
}

.pagina-titulo h2 {
	font-size: 35px;
	font-weight: 500;
	text-align: center;
}

.pagina-conteudo {
	padding: 20px 40px 20px 40px;
}

.pagina-conteudo h3 {
	color: #004284;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.pagina-conteudo p {
	font-size: 14px;
	text-align: justify;
	margin-bottom: 10px;
}

.pagina-conteudo a {
	color: #004284;
}

.pagina-conteudo .paragrafo-unico {
	margin-bottom: 0;
}

.pagina-conteudo thead th {
	font-size: 16px;
	vertical-align: middle;
}

.pagina-conteudo thead span {
	font-weight: normal;
	font-size: 16px;
}

.pagina-conteudo table td {
	font-size: 14px;
	vertical-align: middle;
}

.pagina-conteudo table i {
	font-size: 22px;
}

.pagina-conteudo span {
	font-size: 14px;
}

.pagina-cartao {
	margin-top: 20px;
	padding: 20px;
	min-height: 100px;
    background-color: #EAEAEA;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.pagina-cartao h4 {
	font-size: 16px;
	font-weight: bold;
}

.pagina-cartao p {
	font-size: 13px;
}

.localidades {
	margin-bottom: 20px;
}

.callcenter-img {
	margin-top: 15px;
}

.callcenter-info {
	margin-bottom: 20px;
	color: #004284;
}

.callcenter-info span {
	font-size: 28px;
	font-weight: bold;
	vertical-align: middle;
}

.callcenter-info i {
	vertical-align: middle;
	padding-right: 10px;
	font-weight: bold;
}

.container-acesso {
	padding-top: 20px;
	padding-bottom: 30px;
	max-width: 250px;
	margin: 0 auto !important;
}

.form-alert {
	color: red;
	font-size: 12px;
}

.form-alert-bottom {
	margin-top: 5px;
}

.form-alert-right {
	padding-top: 10px;
	padding-bottom: 10px; 
}

.links-ouvidoria {
	margin-top: 30px;
	margin-bottom: 30px;
}

.links-ouvidoria a {
	font-size: 20px;
}

.links-ouvidoria a:visited {
	text-decoration: none;
}

.links-ouvidoria a:active {
    text-decoration: none;
}

.btn-consulta {
	margin-left: 5px;
}